*{
    background-color: white;
}

header {
    color:coral;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    border: 1px solid red;
}

article {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    background-color: burlywood;
}

article > h1, p {
    background-color: burlywood;
    font-size: 40px;
}

footer {
    color:darkgreen;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    border: 1px solid blue;
}